<p>You've reached Home</p>

<ul>
    <li><a href="/Home/Throw404?id=1">404 (Not Foud)</a></li>
    <li><a href="/Home/Throw412?id=2">412 (Precondition Failed)</a></li>
    <li><a href="/Home/Throw500?id=3">500 (Internal Server Error)</a></li>
</ul>
